.nav-wrapper {
    padding-left: 2%;
}

#logo-title {
    font-family: "Courier New";
    font-weight: 500;
}

table {
    table-layout: fixed;
    width: 50vh;
    font-size: 2vh;
}

td {
    border-radius: 0px;
    padding: 0px;
}

td.unknown:after { /* makes unknown cells square somehow */
    content: '';
    display: block;
    margin-top: 100%;
}

.flag {
    background-color: red;
}

.cleared.light {
    background-color: #dbdbdb;
}

.cleared.dark {
    background-color: #bdbdbd;
}

.unknown.light {
  background-color: #4eb3ff;
}

.unknown.dark {
    background-color: #22a0ff;
}

.unknown:hover {
    opacity: 60%;
}

input {
    text-align: center;
    height: 1vh;
}

td:hover {
    opacity: 50%;
}

/* gets rid of up/down arrows in input fields */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#puzzle {
    margin: 3%;
}
