.nav-wrapper {
    padding-left: 2%;
}

#logo-title {
    font-family: "Courier New";
    font-weight: 500;
}

table {
    table-layout: fixed;
    width: 50vh;
    font-size: 6px;
}

td {
    border-radius: 0px;
    padding: 0px;
}

td:after { /* makes unknown cells square somehow */
    content: '';
    display: block;
    margin-top: 100%;
  }

.flag {
    background-color: red;
}

.cleared.light {
    background-color: #dbdbdb;
}

.cleared.dark {
    background-color: #d3d3d3;
}

.cell-input::after {
    content: '';
    display: block;
    margin-top: 100%;
}

.unknown.light {
  background-color: #4eb3ff;
}

.unknown.dark {
    background-color: #22a0ff;
}

.unknown:hover {
    opacity: 60%;
}

